<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Forecast</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://vjs.zencdn.net/6.6.3/video-js.min.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet" type="text/css">